# Group definition templet file for the Authz-repo.
#
# Copyright(C) 2024, Martin Young <martin_young@live.cn>
#--------------------------------------------------------

[groups]

#--------------------------------------------------------
# SVN Administrators：
Admins = admin1, admin2, admin3

# SVN Auditors:
Audits = auditor1, auditor2

#--------------------------------------------------------
# teama Administrators：
Admins_teama = teama_adm1, teama_adm2

# teama Auditors:
Audits_teama = teama_audit

#--------------------------------------------------------
# teamb Administrators：
Admins_teamb = teamb_admin

# teamb Auditors:
Audits_teamb = teamb_audit1, teamb_audit2
